{% extends "main/layout.html" %}
{% load static %}
{% block title %}Главная страница{% endblock title %}

{% block content %}
<div class="main">
  <div class="main__wrapper">
    <div class="main__sign">
      <img class="main__sign--img" src="{% static "main/title_sing.png" %}"
      />
      <div class="main__sign--title">Мировое виноделие</div>
    </div>
    <div class="main__info">
      <div class="main__info--t1">
        <p>
          Доподлинно неизвестно, когда началась винная эволюция, и когда
          люди придумали и научились ферментировать растения для получения
          алкоголя. Поэтому определить конкретную родину знаменитого сегодня
          на весь мир виноградного напитка не так-то просто.
        </p>
        <p>
          Напитки, изготавливающиеся из злаков, фруктов и других растений
          (наподобие пива), делали в Древнем Египте, Месопотамии, Китае,
          Мексике и Южной Африке на протяжении многих тысячелетий до нашей
          эры. Однако, на Европейском континенте гораздо лучше рос виноград,
          поэтому от Пиренейского полуострова до Кавказских гор стала
          развиваться культура вина.
        </p>
        <p>
          Первый известный виноград – сезаннский. Его окаменелый лист в
          возрасте 5 млн лет до н.э. был обнаружен на юге современной
          Шампани. Но этот древний вид вымер задолго до появления vitis
          viniferа, к которому относятся большинство современных сортов.
        </p>
        <p>
          Самые ранние свидетельства виноделия датируются 7 тысячелетием до
          н.э. Квеври (глиняный сосуд, который изобрели для ферментации и
          выдержки вина) этого периода был найден в районе Тбилиси, который
          можно назвать родиной вина. Натуральный метод производства до сих
          пор популярен в Грузии. Так делают и модные нынче оранжи.
        </p>
      </div>
      <div class="main__info--t2">
        Топ-5 стран по объемам вина за 2023г. (в млн гектолитров):
        <ol>
          <li>Франция - 45,8</li>
          <li>Италия - 43,9</li>
          <li>Испания - 30,7</li>
          <li>Германия - 9,0</li>
          <li>Португалия - 7,4</li>
        </ol>
      </div>
    </div>
    <div class="main__world-map">
      <img src="{% static "main/europe_map_mini.png" %}"
      class="main__world-map--img">
      <div
        class="main__world-map--clip-path-france"
        title="
      Во Франции площади виноградников 797 тысяч Га в 80 департаментах, что составляет 1,3 % территории страны и 2,8 % земель сельхозназначения. Основных винодельческих регионов во Франции десять – это Эльзас, Бордо, Бургундия, Шампань, Долина Роны, Прованс, Корсика, Юго-Западный регион. Каждый имеет свои особенности. Самые известные французские вина родом из Бордо и Бургундии. Французское вино составляет 13 % мирового экспорта вина."
      ></div>
      <div
        class="main__world-map--clip-path-italy"
        title="В Италии площади виноградников 718 тысяч Га, что составляет 2,4% от территории страны. Большая часть вин в винной Италии производится в четырех регионах - Венето, Апулии, Эмилии-Романье и на острове Сицилия."
      ></div>
      <div
        class="main__world-map--clip-path-spain"
        title="В Испании площади виноградников простираются на 969 тысяч гектаров и составляют 1,9% от площади всей страны и 13% всех виноградников мира. В Испании вино производится в винодельческих регионах в 14 областях: Андалусия, Арагон, Валенсия, Галисия, Кастилия Леон, Кастилия Ла Манча, Каталония, Мадрид, Мурсия, Наварра, Риас Байшас, Риоха, Страна Басков, Херес де ла Фронтера."
      ></div>
      <div
        class="main__world-map--clip-path-germany"
        title="В Германии площади виноградников заняли около 102тысяч гектаров, что составляет примерно одну десятую от площади виноградников в Испании, Франции или Италии, и 0,3% от площади самой страны. В Германии законодательно выделено 13 винодельческих районов: Мозель, Рейнгау, Рейнгессен, Пфальц, Баден, Наэ, Франкония, Саксония, Заале-Унштрут, Ар, Средний Рейн, Горная Гессенская дорога, Вюттенберг."
      ></div>
      <div
        class="main__world-map--clip-path-portugal"
        title="В Португалии площади виноградников занимают 193 тысяч га, что составляет 2% от общей площади страны. Закономерно большое внимание в стране уделяется реке Дору на севере (что течёт из Испании), её долинам, знаменитым портвейнам и в целом производству тихих красных вин, в значительной степени сосредоточенному в окрестностях города Порту – регионального центра производства и выдержки вина."
      ></div>
    </div>
  </div>
</div>
{% endblock content %}