{% extends "main/layout.html" %} {% load static %} {% block title %}Главная
страница{% endblock title %} {% block content %}
<div class="main">
  <div class="main__wrapper">
    <div class="main__sign">
      <img class="main__sign--img" src="{% static "main/title_sing.png" %}" />
      <div class="main__sign--title">Мировое виноделие</div>
    </div>
    <div class="main__info">
      <div class="main__info--t1">
        <p>
          Доподлинно неизвестно, в какой период началась винная эволюция, и когда люди придумали и научились ферментировать растения для получения алкоголя, поэтому определить конкретную родину знаменитого сегодня на весь мир виноградного напитка не так-то просто.
        </p>
        <p>
          Напитки, изготавливающиеся из злаков, фруктов и других растений (наподобие пива), делали в Древнем Египте, Месопотамии, Китае, Мексике и Южной Африке на протяжении многих тысячелетий до нашей эры. Однако, на Европейском континенте гораздо лучше рос виноград, поэтому от Пиренейского полуострова до Кавказских гор стала развиваться культура вина.
        </p>
        <p>
          Самые ранние свидетельства виноделия датируются 7 тысячелетием до н.э. Квеври (глиняный сосуд, который изобрели для ферментации и выдержки вина) этого периода был найден в районе Тбилиси, который можно назвать родиной вина. Натуральный метод производства до сих пор популярен в Грузии. Так делают и модные нынче оранжи. 
        </p>
        <div class="main__kvevri">
          <img class="main__kvevri--img" src="{% static "main/kvevri.png" %}" alt="" >
          <p>Квеври бывают разных размеров — от 5 литров, до нескольких тысяч литров. Самый распространенный тип квеври вмещает 1-2 тонны сусла</p>
        </div>
        <p>
          Вино становится традиционной частью культуры ранних христиан. В Ремсе, будущей столице Шампани и месте коронования всех французских монархов, вино стало придворным напитком: король Хлодвиг I настоял быть крещеным вином.
        </p>
        <div class="main__immersion">
          <img class="main__immersion--img" src="{% static "main/immersion.png" %}" alt="" >
          <p>Крещение короля франков Хлодвига I в Реймсе в 496 году</p>
        </div>
        <p>
          Позднее, после VIII века короли по всему миру не только пьют вино, но и передают земли монашеским орденам, для того, чтобы те высаживали виноградники, что способствовало  распространению виноградарства и виноделия. Благодаря этому были заложены некоторые из лучших виноградников в Европе: в Шампани, Бургундии; Бордо во Франции, а также в регионах Ренгау и Франкония в Германии.
        </p>
        <p>
          После разделения мира на Старый и Новый Свет в XVI веке в Мексику, Бразилию и Чили привозят первые европейские лозы, а столетие спустя – и в Россию. Процесс дистилляции, ранее использовавшийся только для производства лекарств, начинают применять для получения крепких напитков. В Европе становятся модными бренди и джин. Появляется традиция добавлять спирт в вино, чтобы сохранить его при длительной транспортировке по морю. Рождается портвейн. В ЮАР производят первое вино из муската. Заболоченный Медок осушают и высаживают там лозы, в Токае делают первое сладкое вино aszu, а в Шампани наконец-то обретает свою родину игристое.
        </p>
        <p>
          В мире активно развивается виноделие и связанные с ним традиции. Вино становится предметом роскоши.
        </p>
        <p>
          Позднее, в 1857 году Луи Пастер открывает происхождение дрожжей и описывает ферментацию. Это дает развитие винной науке и толчок в культуре виноделия, а, благодаря селекции, появляются новые сорта.
        </p>
        <p>
          В конце XIX века Европу настигает эпидемия филлоксеры – завезенного из Нового Света вредителя, который за несколько лет уничтожает большую часть старых виноградников.  Выживают только лозы на песчаных почвах.Поэтому придумывают технологию высадки виноградников на американских корнях (подвое), которой пользуются и до сих пор. В XX веке рождаются новые винодельческие практики: от метода Шарма до микрооксидации, от применения пестицидов до биодинамики. В моду входят органические, натуральные и оранжевые вина.
        </p>
        <div class="main__phylloxera">
          <img class="main__phylloxera--img" src="{% static "main/phylloxera.png" %}" alt="" >
        </div>
        <div class="main__revolution">
          <img class="main__revolution--img" src="{% static "main/revolution.png" %}" alt="" >
        </div>
        <p>
          С веками искусство виноделия распространилось преимущественно по территории Франции, Испании и Германии. К тому времени вино уже считалось важной частью ежедневного рациона, и люди начали отдавать предпочтение более крепким винам.
        </p>
        <p>
          В последние годы долгое время первое место по обороту вин держала Италия, за ней следовала Франция и на третьем месте находилась Испания.
        </p>
        <p>
          Однако, с каждым годом наблюдалась тенденция уменьшения винооборота. Так, в 2023 году производство вина в мире станет минимальным за последние 60 лет. К такому выводу пришла в своем предварительном отчете Международная организация виноградарства и виноделия (OIV).
        </p>
        <img class="main__oiv--img" src="{% static "main/oiv.png" %}" alt="" >
        <p>
          Эксперты оценивают объем мирового производства в 241-247 млн гектолитров. Низкие показатели связывают с неблагоприятными погодными условиями, такими как ранние морозы, сильные дожди и засуха.
        </p>
        <p>
          Крупнейшим мировым производителем в 2023-м вперые стала Франция, сохранив объемы прошлого года. Она сместила с первого места Италию, где производство упало на 12% по сравнению с 2022-м. Тройку лидеров замыкает Испания - урожай в стране стал самым маленьким за последние 20 лет.
        </p>
        <div class="main__info--t2">
          В Топе-5 стран по объемам производства вина в 2023 году находятся следующие страны (в млн гектолитров):
          <ol>
            <li>Франция - 45,8</li>
            <li>Италия - 43,9</li>
            <li>Испания - 30,7</li>
            <li>Германия - 9,0</li>
            <li>Португалия - 7,4</li>
          </ol>
        </div>
        <div class="main__world-map">
          <img src="{% static "main/europe_map_mini.png" %}"
          class="main__world-map--img">
          <div
            class="main__world-map--clip-path-france"
            title="
          Во Франции площади виноградников 797 тысяч Га в 80 департаментах, что составляет 1,3 % территории страны и 2,8 % земель сельхозназначения. Основных винодельческих регионов во Франции десять – это Эльзас, Бордо, Бургундия, Шампань, Долина Роны, Прованс, Корсика, Юго-Западный регион. Каждый имеет свои особенности. Самые известные французские вина родом из Бордо и Бургундии. Французское вино составляет 13 % мирового экспорта вина."
          ></div>
          <img src="{% static "main/pointer.png" %}" class="main__world-map--pointer-france-img">
          <img src="{% static "main/pointer.png" %}" class="main__world-map--pointer-italy-img">
          <img src="{% static "main/pointer.png" %}" class="main__world-map--pointer-spain-img">
          <img src="{% static "main/pointer.png" %}" class="main__world-map--pointer-germany-img">
          <img src="{% static "main/pointer.png" %}" class="main__world-map--pointer-portugal-img">
          <div
            class="main__world-map--clip-path-italy"
            title="В Италии площади виноградников 718 тысяч Га, что составляет 2,4% от территории страны. Большая часть вин в винной Италии производится в четырех регионах - Венето, Апулии, Эмилии-Романье и на острове Сицилия."
          ></div>
          <div
            class="main__world-map--clip-path-spain"
            title="В Испании площади виноградников простираются на 969 тысяч гектаров и составляют 1,9% от площади всей страны и 13% всех виноградников мира. В Испании вино производится в винодельческих регионах в 14 областях: Андалусия, Арагон, Валенсия, Галисия, Кастилия Леон, Кастилия Ла Манча, Каталония, Мадрид, Мурсия, Наварра, Риас Байшас, Риоха, Страна Басков, Херес де ла Фронтера."
          ></div>
          <div
            class="main__world-map--clip-path-germany"
            title="В Германии площади виноградников заняли около 102тысяч гектаров, что составляет примерно одну десятую от площади виноградников в Испании, Франции или Италии, и 0,3% от площади самой страны. В Германии законодательно выделено 13 винодельческих районов: Мозель, Рейнгау, Рейнгессен, Пфальц, Баден, Наэ, Франкония, Саксония, Заале-Унштрут, Ар, Средний Рейн, Горная Гессенская дорога, Вюттенберг."
          ></div>
          <div
            class="main__world-map--clip-path-portugal"
            title="В Португалии площади виноградников занимают 193 тысяч га, что составляет 2% от общей площади страны. Закономерно большое внимание в стране уделяется реке Дору на севере (что течёт из Испании), её долинам, знаменитым портвейнам и в целом производству тихих красных вин, в значительной степени сосредоточенному в окрестностях города Порту – регионального центра производства и выдержки вина."
          ></div>
        </div>
        <p>
          Перспектива на 2024 год ожидается хорошая: в январе-феврале в нашей стране было произведено 6,8 млн дал вина, что на 30% больше, чем за аналогичный период прошлого года. В Германии так же ожидается увеличение производства на 1%, в Португалии – на 8%, в Румынии – на 15%. В США прирост составит 12% по сравнению с 2022-м.
        </p>
        <p style="padding-bottom: 70px;">
          Надеемся, что история виноградарства и виноделия продолжит активно развиваться и будет набирать всё большие обороты!
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
